.configuracoes {
    min-height: 100vh;
    padding: 60px;
  
    font-family: "Rubik", sans-serif;
  }
  
  .configuracoes h1 {
    margin: 0 0 30px;
  
    font-size: 32px;
  
    color: #4b3529;
  }
  
  
  /* CARD */
  
  .config-card {
    width: 500px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 22px 25px;
  
    border-radius: 20px;
  
    background: #ffffff;
  
    box-shadow:
      0 10px 30px rgba(57, 39, 29, 0.12);
  }
  
  
  /* TEXTO */
  
  .config-texto h2 {
    margin: 0 0 5px;
  
    font-size: 18px;
  
    color: #4b3529;
  }
  
  .config-texto p {
    margin: 0;
  
    font-size: 14px;
  
    color: #88756a;
  }
  
  
  /* SWITCH */
  
  .switch {
    position: relative;
  
    width: 55px;
    height: 30px;
  
    border: none;
    border-radius: 50px;
  
    background: #b8b8b8;
  
    cursor: pointer;
  
    transition: 0.3s;
  }
  
  
  /* BOLINHA */
  
  .switch-bolinha {
    position: absolute;
  
    width: 22px;
    height: 22px;
  
    left: 4px;
    top: 4px;
  
    border-radius: 50%;
  
    background: white;
  
    transition: 0.3s;
  
    box-shadow:
      0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  /* LIGADO */
  
  .switch.ativo {
    background: #597334;
  }
  
  .switch.ativo .switch-bolinha {
    transform: translateX(25px);
  }