.folhas-container {
  position: fixed;
  inset: 0;

  overflow: hidden;
  pointer-events: none;

  z-index: 2;
}

.folha {
  position: absolute;

  top: -30px;

  font-size: 17px;

  opacity: 0.65;

  animation: folhaCaindo 9s linear infinite;
}


/* posições */

.folha:nth-child(1) {
  left: 8%;
  animation-delay: 0s;
}

.folha:nth-child(2) {
  left: 18%;
  animation-delay: 3s;
}

.folha:nth-child(3) {
  left: 28%;
  animation-delay: 6s;
}

.folha:nth-child(4) {
  left: 39%;
  animation-delay: 1s;
}

.folha:nth-child(5) {
  left: 50%;
  animation-delay: 5s;
}

.folha:nth-child(6) {
  left: 61%;
  animation-delay: 2s;
}

.folha:nth-child(7) {
  left: 70%;
  animation-delay: 7s;
}

.folha:nth-child(8) {
  left: 79%;
  animation-delay: 4s;
}

.folha:nth-child(9) {
  left: 88%;
  animation-delay: 8s;
}

.folha:nth-child(10) {
  left: 95%;
  animation-delay: 2.5s;
}


@keyframes folhaCaindo {

  0% {
    transform:
      translateY(-30px)
      translateX(0px)
      rotate(0deg);

    opacity: 0;
  }

  10% {
    opacity: 0.65;
  }

  50% {
    transform:
      translateY(50vh)
      translateX(15px)
      rotate(180deg);
  }

  100% {
    transform:
      translateY(105vh)
      translateX(-10px)
      rotate(360deg);

    opacity: 0.3;
  }
}